<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ea97a2">  <td>20/07/01 23:13:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewAccountsPageTest.setUp()[pri:0, instance:test.NewAccountsPageTest@6895a785]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2070529722</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/07/01 23:14:16</td>   <td>57177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NewAccountsPageTest.tearDown()[pri:0, instance:test.NewAccountsPageTest@6895a785]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@2070529722</td>   <td></td> </tr>
<tr bgcolor="ea97a2">  <td>20/07/01 23:13:48</td>   <td>28871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewAccountsPageTest.verifyAccountNameText()[pri:0, instance:test.NewAccountsPageTest@6895a785]">verifyAccountNameText</td> 
  <td>main@2070529722</td>   <td></td> </tr>
</table>
